body{
    font-family: 'Playfair Display', serif;
}
header{
    text-align: center;
    height: 60px;
    position: sticky;
    top: 2px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-evenly;
    align-content: center;
    background-color: black;
}
a{
    text-decoration: none;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    color: white;
}
a:hover{
    transform: scale(1.1);
    color: rgba(198, 189, 189, 0.514);
    /* background-color: rgba(245, 245, 245, 0.557); */
}

.gutters{
    height: 700px;
    width: 99%;
    background-image: url(https://cdna.artstation.com/p/assets/images/images/066/851/922/large/hemanth-vignesh-shot-1.jpg?1693932413);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#skills{
    margin: 10px;
    border: 0px solid;
    width: 700px;
    height: 200px;
    display: flex;
    /* position: absolute; */
    margin-left: 30%;
    justify-content: center;
}

.skillset{
    width: 150px;
    height: 150px;
    border: 0px solid black;
    margin: 20px;
    padding: 20px;
    
    /* display: block; */
}
.skillset:hover{
    border-radius: 10px;
    background-color: gray;
    transform: scale(1.1);
}
.icons{
    width: 50px;
    height: 50px;
    
}
h2,p{
    font-size: 30px;
    display: inline;
}

#portfolio{
    background-color: palegreen;
    height: 1600px;
    font-size: 40px;
    
}
h1{
    font-size: 40px;
    display: block;
    text-align: center;
    height: 30px;
}
.video{
    width: 800px;
    height: 500px;
    margin: 0px 30%;
}
.work{
    margin: 0px 20%;
}
.workvid{
    margin: 0px 60px;
    height: 300px;
    width: 400px;
    border: 0px solid;
    padding: 20px;

}
.workimage{
    width: 350px;
    height: 350px;
    border: 0px solid;
    margin: 5px;

}